@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap');
/*font-family: 'Public Sans', sans-serif;*/

/*Nav css goes here*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
}

body{
    overflow-x: hidden;
    display: block;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container{
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.menu-icons{
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.logo{
    width: 5rem;
    height: 5rem;
    display: flex;
}

.logo i{
    margin: auto;
    font-size: 3rem;
    color: #eee;
}

.nav-list{
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 3rem;
}

.nav-list li{
    line-height: 8rem;
    position: relative;
}

.sub-menu li{
    line-height: 4rem;
}

.nav-list a{
    display: block;
    color: #eee;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover{
    color: #2eaeff;
}

.sub-menu{
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #2eaeff;
    z-index: 100;
    top: 7.6rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

.sub-menu::before{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #2eaeff;
}

.nav-list li:hover > .sub-menu{
    top: 7.6rem;
    opacity: 1;
    visibility: visible;
}

.cofund-banner{
    margin: auto;
    display: inline-flex;
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
 }
 
 .cofund-banner p{
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: #8c8e8f;
    padding-right: 2rem;
    padding-top: 1.8rem;
 }
 
 .cofund-banner img{
    height: 5rem;
    opacity: 50%;
 }

 @media screen and (max-width: 680px){
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background-color: #191919;
        z-index: 1000;
        overflow-y: scroll;
    }

    .nav-list > li{
        line-height: 6rem;
    }

    .sub-menu{
        position: initial;
        border: 3px solid transparent;
        border-left-color: #2eaeff;
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before{
        display: none;
    }

    .nav-list li:hover > .sub-menu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    .menu-icons{
        display: block;
    }

    .ion-md-close{
        display: none;
    }

    nav.active .ion-md-close{
        display: block;
    }

    nav.active .ion-md-menu{
        display: none;
    }

    nav.active .nav-list{
        display: flex;
    }
}


/*End nav css*/

/*Hero*/
.hero{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../assets/home-banner.jpg");
}

.intro{
    width: 50%;
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: left;
}

.intro h1{
    font-size: 5rem;
    text-align: left;
    margin: 2rem 0;
    font-family: 'Public Sans', sans-serif;
    line-height: 6rem;
}

.intro p{
    font-size: 1.8rem;
    margin-bottom: 5rem;
    opacity: 70%;
    line-height: 2.8rem;
}

@media screen and (max-width: 1200px){
    .intro{
        left: 50%;
        width: 80%;
    }
}

@media screen and (max-width: 800px){
    .intro{
        left: 50%;
        width: 90%;
    }

    .intro h1{
        font-size: 4.5rem;
        line-height: 5rem;
    }
    
    .intro p{
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
}

@media screen and (max-width: 480px){
    .intro{
        left: 50%;
        width: 90%;
    }

    .intro h1{
        font-size: 4rem;
        line-height: 4rem;
    }
    
    .intro p{
        font-size: 1.3rem;
        line-height: 2rem;
    }
}
/*End Hero*/

/*Features*/
.feature-banner{
    background-color: #f5f5f5;
    max-width: 100%;
    margin: auto;
 }

 .feature-content{
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    max-width: 90%;
    overflow-x: hidden;
 }

 .feature-content .solutions{
    padding: 15rem 0;
 }
 
 .flipped{
    background-color: #fff;
 }
 
 .feature-des{
    text-align: left;
    padding: 7rem;
 }
 
 .feature-des h3{
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: #2eaeff;
    padding: 2rem 0;
 }
 
 .feature-des h2{
     font-size: 2.5rem;
     line-height: 3.5rem;
 }

 .feature-des p{
    font-size: 1.8rem;
    line-height: 3rem;
    padding-bottom: 2rem;
    opacity: 70%;
 }

 .feature-demo{
   text-align: center;
   display: flex;
   justify-content: center;
 }

 .feature-demo img{
   margin: auto;
   display: block;
   height: 35rem;
   border-radius: 1.7rem;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
 }

 /*driver 3 phone screens*/
 .driver img{
    box-shadow: none;
    border-radius: 0;
 }

 @media screen and (max-width: 1200px){
    .feature-content{
       padding: 5rem 0;
        background-image: none;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        display: table;
    }

    .feature-demo img{
      width: 100%;
      height: auto;
      margin: auto;
   }

    .feature-des { display: table-header-group; } /*description always on bottom*/
    .feature-demo { display: table-footer-group; } /*image always on top*/
 }

 /* Footer */
 footer{
    padding-top: 1.5rem;
    bottom: 0px;
    width: 100%;
    background-color: #111;
    color: white;
 }
 
 .main-content{
    display: flex;
    font-size: 1.1rem;
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
 }

 .main-content h2{
     font-size: 2.7rem;
     font-weight: 800;
     padding-top: 2rem;
     padding-bottom: 1rem;
 }
  
 .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
 }
  
 .box .content{
    margin: 20px 0 0 0;
    position: relative;
 }
  
 .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
 }
  
 .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #2eaeff;
    top: -10px;
 }
  
 .left .content p{
    text-align: justify;
    font-size: 1.7rem;
    line-height: 3rem;
 }
 .left .content .social{
    margin: 20px 0 0 0;
 }
  
 .left .content .social a{
    margin: 20px 0 0 0;
 }
  
 .left .content .social a i{
    height: 40px;
    width: 40px;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
 }
  
 .left .content .social a i:hover{
    color: #2eaeff;
 }
  
 .center .content .fas, .fa-phone{
    font-size: 25px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    color: white;
 }
  
 .center .content .text{
    padding-left: 10px;
    font-size: 1.7rem;
 }
  
 .right form .text{
    margin-bottom: 2px;
    color: #656565;
    font-size: 1.7rem;
    line-height: 4rem;
 }
  
 .right form .msg, .right form .email{
    margin-top: 20px;
 }
  
 .right form input, .right form textarea{
    width: 100%;
    font-size: 1.2rem;
    background: #151515;
    padding-left: 10px;
    height: 35px;
    color: white;
    font-family: 'Poppins', sans-serif;
 }
  
 .right form input:focus,
 .right form textarea:focus{
    outline-color: #2eaeff;
 }
  
 .right form .btn{
    margin-top: 10px;
 }
  
 .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #2eaeff;
    cursor: pointer;
    transition: .2s;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
 }
  
 .right form .btn button:hover{
    background: #000;
 }
  
 .bottom center{
    padding: 10px;
    color: #656565;
    background: #151515;
    line-height: 10px;
 }

 .bottom span{
     font-size: 1.5rem;
     line-height: 2.5rem;
 }

 @media screen and (max-width: 1200px){
    footer{
        position: relative;
        bottom: 0px;
     }
  
     .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
  
    .main-content .box{
        margin: 5px 0;
    }
}